# Backend Configuration
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

# JWT Configuration
JWT_SECRET=super_A!234567a_secret
JWT_TOKEN_LIFETIME=60
JWT_ISSUER=http://localhost:5108
JWT_AUDIENCE=http://localhost:5108

# Frontend Configuration
REACT_APP_API_URL=http://localhost:5108

# Backoffice Configuration
BACKOFFICE_API_URL=http://localhost:5108

# Ports
BACKEND_PORT=5108
FRONTEND_PORT=3000
BACKOFFICE_PORT=4200
